<!DOCTYPE html>
<html lang="en">
<style type="text/css">
    body {
      color: blanchedalmond;
      background-color: steelblue;
    }
</style>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>GitPub Drinks List</title>
</head>
<body>
    <h1>Welcome to the gitPub Drinks List!</h1>

    <ul>
        <% for(let i = 0; i < drinkList.length; i++) { %>
            <li>
                <!-- TODO: make it capitalie every word. -->
                <%=drinkList[i].name[0].toUpperCase() +  drinkList[i].name.substring(1) %>
            </li>
        <% } %>
    </ul>
</body>
</html>